<!doctype HTML>
<html>
<head>
<title>Fast HTML5 Banner Prodction</title>
<meta name="description" content="Banner Boi is an automated HTML5 Banner build system for DoubleClick, Sizmek, and Other providers. Uses SASS, Autoprefixer GSAP and other web technologies.">
<meta name="keywords" content="HTML5 CSS3 Banners Automation ">

    <style>
    body{
        font-family:"Open Sans", Helvetica, Arial;
    }
    iframe{
        display: block;
        border:none;
    }
    li{
        display:inline-block;
    }
    h3,
    p{
        margin: 0;
        padding: 0;
    }

    .pass{
        color:darkgreen;
        font-weight:bold;
    }
    .fail{
        color:red;
        font-weight:bold;
    }
</style>
</head>
<body>
<h1>banner-boi Creative Preview</h1>
<a href="https://github.com/leedium/banner-boi">GitHub - support</a>
<h1>Provider: provider</h1>
<h1>Campaign: campaign</h1>
<h1>Timestamp: {TIME_STAMP}</h1>
<h1>Loop/Repeat: {LOOP}</h1>
<h2>##STANDARD BANNERS##</h2>
<ul>
    {LIST}
</ul>
<h2>##BACKUPS##</h2>
<hr>
<ul>
    {LIST_BACKUP}
</ul>
</body>
</html>