<html>
<head>
<style>
    iframe{
        display: block;
        border:none;
    }
</style>
</head>
<body>
<h1>Banner Boi - Creative Preview</h1>
<h1>Provider: provider</h1>
<h1>Campaign: campaign</h1>
<ul>
    <li><h4>300x250</h4><iframe width="300" height="250" scrolling="no" src="provider-campaign-300x250/index.html"></iframe></li>
    <li><h4>336x280</h4><iframe width="336" height="280" scrolling="no" src="provider-campaign-336x280/index.html"></iframe></li>
    <li><h4>250x250</h4><iframe width="250" height="250" scrolling="no" src="provider-campaign-250x250/index.html"></iframe></li>
    <li><h4>728x90</h4><iframe width="728" height="90" scrolling="no" src="provider-campaign-728x90/index.html"></iframe></li>
    <li><h4>120x600</h4><iframe width="120" height="600" scrolling="no" src="provider-campaign-120x600/index.html"></iframe></li>
    <li><h4>160x600</h4><iframe width="160" height="600" scrolling="no" src="provider-campaign-160x600/index.html"></iframe></li>
    <li><h4>300x600</h4><iframe width="300" height="600" scrolling="no" src="provider-campaign-300x600/index.html"></iframe></li>
</ul>
</body>
</html>