$BIGBOX_WIDTH:300px;
$BIGBOX_HEIGHT:250px;
$BIGBOX_LARGE_WIDTH:336px;
$BIGBOX_LARGE_HEIGHT:280px;
$BIGBOX_SQUARE:250px;

$LEADERBOARD_WIDTH:728px;
$LEADERBOARD_HEIGHT:90px;

$SKYSCRAPER_WIDTH:120px;
$SKYSCRAPER_HEIGHT:600px;
$SKYSCRAPER_MEDIUM_WIDTH:160px;
$SKYSCRAPER_MEDIUM_HEIGHT:600px;
$SKYSCRAPER_LARGE_WIDTH:300px;
$SKYSCRAPER_LARGE_HEIGHT:600px;

$COLOR_GREEN:#415A68;

