@mixin size-160x600(){
  @include size-120x600();
  #promologo{
    top:75px;
  }
  .banner-copy{
    top: 222px;
    font-size: $baseFontSize -  3;
    line-height: $baseFontSize;
  }

  #product{
    right: -12px;
    bottom: 10%;
    width: 181px;
  }

}