@mixin size-300x600(){
  @include size-160x600();
  .motorcraft-logo{
    @include hCenter(50%);
    top:$margins;

  }
  #promologo{
    @include hCenter(50%);
  }

  #product{
    @include hCenter(80%);
    width:$product-width;
  }

  .cta{
    font-size:15px;
  }
}