@mixin size-970x250(){
  @include size-728x90();

  #product{
    right: 18%;
    top: -19px;
    left:inherit;
  }

  #promologo{
    width: 100px;
  }

  .banner-copy{
    font-size: inherit;
    line-height: inherit;
    width: 276px;
    left: 30%;
    top: 107px;
    margin-top: -47px;
  }

  #copy1{
    @include vCenter(86px);
    width:248px;
  }

  .cta{
   right:20px;

  }

}