<div>
    <div id="copy">
        <div class="haze">

        </div>
        <div class="product-logo"></div>
        <div class="copy1"><p>Mauris<span class="heavy">mattis</span></p>
            <p></p></div>
        <div class="copy2"><p>Nulla eu laoreet </p>
            <p class="heavy">Integer mattis</p></div>
        <div class="copy3"><p>Nulla dignissim rutrum  <span class="heavy"> Vestibulum commodo, elit facilisis</span></p></div>
        <div class="copy4">
            <ul class="service-list dark">
                <li><p class=""><span class="heavy">Sed et</span> 200</p></li>
                <li><p class=""><span class="heavy">Donec et </span> 500</p></li>
            </ul>
        </div>
    </div>
    <div id="sceneContainer">
        <div class="bg-mountains"></div>
        <div class="bg-car"></div>
    </div>
    <div id="logoMargin">
        <div class="label-cta">
            <div class="cta-icon"></div>
            <div class="cta-copy">Quisque pharetra</div>
        </div>
        <div class="ford-logo"></div>
    </div>
    <a class="clickTag" href="javascript:window.open(window.clickTag);"></a>
</div>