<div id="promologo"></div>
<div id="copy1" class="banner-copy">
    <p>The Legend continues.</p>
</div>
<div id="copy2" class="banner-copy">
    <p>Jordan VII.  The Legend Returns Spring 2016</p>
</div>
<div id="product"></div>
<p class="cta">buy now</p>
<div class="motorcraft-logo">
    <div class="company-logo"></div>
</div>
<a class="clickTag" href="#"></a>
