<html>
<head>
<style>
    iframe{
        display: block;
        border:none;
    }
</style>
</head>
<body>
<ul>

</ul>
<li><h4>300x250</h4><iframe width="300" height="250" scrolling="no" src="dck_[campaign]_120x600/"></iframe></li>
<li><h4>336x280</h4><iframe width="336" height="280" scrolling="no" src="dck_[campaign]_336x280/"></iframe></li>
<li><h4>250x250</h4><iframe width="250" height="250" scrolling="no" src="dck_[campaign]_250x250/"></iframe></li>
<li><h4>728x90</h4><iframe width="728" height="90" scrolling="no" src="dck_[campaign]_728x90/"></iframe></li>
<li><h4>120x600</h4><iframe width="120" height="600" scrolling="no" src="dck_[campaign]_120x600/"></iframe></li>
<li><h4>160x600</h4><iframe width="160" height="600" scrolling="no" src="dck_[campaign]_160x600/"></iframe></li>
<li><h4>300x600</h4><iframe width="300" height="600" scrolling="no" src="dck_[campaign]_300x600/"></iframe></li>
</body>
</html>