/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$company-logo-name: 'company-logo';
$company-logo-x: 80px;
$company-logo-y: 0px;
$company-logo-offset-x: -80px;
$company-logo-offset-y: 0px;
$company-logo-width: 145px;
$company-logo-height: 32px;
$company-logo-total-width: 225px;
$company-logo-total-height: 80px;
$company-logo-image: 'spritesheet-polite.png';
$company-logo: (80px, 0px, -80px, 0px, 145px, 32px, 225px, 80px, 'spritesheet-polite.png', 'company-logo', );
$promo-logo-name: 'promo-logo';
$promo-logo-x: 0px;
$promo-logo-y: 0px;
$promo-logo-offset-x: 0px;
$promo-logo-offset-y: 0px;
$promo-logo-width: 80px;
$promo-logo-height: 80px;
$promo-logo-total-width: 225px;
$promo-logo-total-height: 80px;
$promo-logo-image: 'spritesheet-polite.png';
$promo-logo: (0px, 0px, 0px, 0px, 80px, 80px, 225px, 80px, 'spritesheet-polite.png', 'promo-logo', );
$spritesheet-width: 225px;
$spritesheet-height: 80px;
$spritesheet-image: 'spritesheet-polite.png';
$spritesheet-sprites: ($company-logo, $promo-logo, );
$spritesheet: (225px, 80px, 'spritesheet-polite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
